---
title: BaaS Guides
layout: layout
---
<%= partial "sections/header_index" %>
<div class="grid">
	<section class="r_submod-masthead">
		<h1 class="r_header-left"><i class="fa fa-mortar-board"></i> <a href="/baas/libraries">Catalyze BaaS Guides</a></h1>
		<form class="r_inline-search">
			<div class="r_search-wrapper">
				<label for="globalSearch">Search:</label>
				<input name="globalSearch" id="st-search-input" type="text" placeholder="Search all resources...">
				<span><i class="fa fa-search"></i></span>
			</div>
		</form>
	</section>
	<a href="/baas" class="r_crumb-left"><i class="fa fa-home"></i> BaaS Resources Home</a>
</div>
<section class="r_4up-cards">
	<div class="grid">
		<div class="r_card-row">
			<div class="col-1-4">
				<div class="r_main-card r_baas-card">
					<header>
						<h1><a href="/baas/guides/getting-started"><i class="fa fa-mortar-board"></i> Getting Started</a></h1>
						<h2><a href="/baas/guides/getting-started">BaaS</a></h2>
					</header>
					<article>
						<a href="/baas/guides/getting-started" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="r_main-card r_baas-card">
					<header>
						<h1><a href="/baas/guides/clinical-data-models"><i class="fa fa-mortar-board"></i> Clinical Data Models</a></h1>
						<h2><a href="/baas/guides/clinical-data-models">BaaS</a></h2>
					</header>
					<article>
						<a href="/baas/guides/clinical-data-models" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="r_main-card r_baas-card">
					<header>
						<h1><a href="/baas/guides/custom-classes"><i class="fa fa-mortar-board"></i> Custom Classes</a></h1>
						<h2><a href="/baas/guides/custom-classes">BaaS</a></h2>
					</header>
					<article>
						<a href="/baas/guides/custom-classes" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="r_main-card r_baas-card">
					<header>
						<h1><a href="/baas/guides/file-management"><i class="fa fa-mortar-board"></i> File Management</a></h1>
						<h2><a href="/baas/guides/file-management">BaaS</a></h2>
					</header>
					<article>
						<a href="/baas/guides/file-management" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
		</div>
		<div class="r_nthcard-row">
			<div class="col-1-4">
				<div class="r_main-card r_baas-card">
					<header>
						<h1><a href="/baas/guides/introduction"><i class="fa fa-mortar-board"></i> Introduction</a></h1>
						<h2><a href="/baas/guides/introduction">BaaS</a></h2>
					</header>
					<article>
						<a href="/baas/guides/introduction" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div><div class="col-1-4">
				<div class="r_main-card r_baas-card">
					<header>
						<h1><a href="/baas/guides/permissions-and-acls"><i class="fa fa-mortar-board"></i> Permissions &amp; ACLs</a></h1>
						<h2><a href="/baas/guides/permissions-and-acls">BaaS</a></h2>
					</header>
					<article>
						<a href="/baas/guides/permissions-and-acls" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>
<%= partial "sections/marketing" %>
<%= partial "sections/footer" %>