---
title: BaaS Guides
layout: layout
---
<%= partial "sections/header_index" %>
<div class="grid">
	<section class="r_submod-masthead">
		<h1 class="r_header-left"><i class="fa fa-mortar-board"></i> <a href="/baas/guides">Catalyze BaaS Guides</a></h1>
		<a href="/baas" class="r_crumb-right"><i class="fa fa-home"></i> BaaS Resources Home</a>
	</section>
	<div class="col-1-1">
		<section class="r_justsearch-masthead">
			<form class="r_search-form">
				<div class="r_input-wrapper">
					<label for="sectionSearch">Search:</label>
					<input type="text" name="sectionSearch" placeholder="Find BaaS Resources...">
					<span><i class="fa fa-search"></i></span>
				</div>
			</form>
		</section>
	</div>
</div>
<section class="r_4up-cards">
	<div class="grid">
		<div class="r_card-row">
			<div class="col-1-4">
				<div class="r_main-card r_baas-card">
					<header>
						<h1><a href="/baas/guides/clinical-data-models">BaaS</a></h1>
						<h2><a href="/baas/guides/clinical-data-models"><i class="fa fa-mortar-board"></i> Clinical Data Models</a></h2>
					</header>
					<article>
						<a href="/baas/guides/clinical-data-models" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="r_main-card r_baas-card">
					<header>
						<h1><a href="/baas/guides/custom-classes">BaaS</a></h1>
						<h2><a href="/baas/guides/custom-classes"><i class="fa fa-mortar-board"></i> Custom Classes</a></h2>
					</header>
					<article>
						<a href="/baas/guides/custom-classes" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="r_main-card r_baas-card">
					<header>
						<h1><a href="/baas/guides/file-management">BaaS</a></h1>
						<h2><a href="/baas/guides/file-management"><i class="fa fa-mortar-board"></i> File Management</a></h2>
					</header>
					<article>
						<a href="/baas/guides/file-management" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="r_main-card r_baas-card">
					<header>
						<h1><a href="/baas/guides/getting-started">BaaS</a></h1>
						<h2><a href="/baas/guides/getting-started"><i class="fa fa-mortar-board"></i> Getting Started</a></h2>
					</header>
					<article>
						<a href="/baas/guides/getting-started" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
		</div>
		<div class="r_nthcard-row">
			<div class="col-1-4">
				<div class="r_main-card r_baas-card">
					<header>
						<h1><a href="/baas/guides/introduction">BaaS</a></h1>
						<h2><a href="/baas/guides/introduction"><i class="fa fa-mortar-board"></i> Introduction</a></h2>
					</header>
					<article>
						<a href="/baas/guides/introduction" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div><div class="col-1-4">
				<div class="r_main-card r_baas-card">
					<header>
						<h1><a href="/baas/guides/permissions-and-acls">BaaS</a></h1>
						<h2><a href="/baas/guides/permissions-and-acls"><i class="fa fa-mortar-board"></i> Permissions &amp; ACLs</a></h2>
					</header>
					<article>
						<a href="/baas/guides/permissions-and-acls" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="grid">
	<section class="r_start-helper">
		<article class="r_small-grid">
			<div class="col-6-12">
				<div class="r_helper-inner">
					<h1>Not a BaaS User Yet?</h1>
					<p>Create your compliant mobile or web app with the Catalyze PaaS.</p>
					<a href="#" class="r_marketing-btn">Sign Up Now</a>
				</div>
			</div>
			<div class="col-6-12">
				<div class="r_helper-inner">
					<h1>HL7 Learn</h1>
					<p>This short guide will take from account creation to application setup.</p>
					<a href="#" class="r_marketing-btn">Get Started Now</a>
				</div>
			</div>
		</article>
	</section>
</div>
<%= partial "sections/marketing" %>
<%= partial "sections/footer" %>